---
layout: base.njk
---
<h2>Functions</h3>
{%- for item in builtindata.functions %}
<div class="pane">
  <h3>{{ item.name }}</h3>
  <p></p>
  <h4>Arguments</h4>
    <ul>
    {%- for arg in item.args %}
    <li><strong>{{ arg.name }}</strong> - {{ arg.type }}. Default {{ arg.default }}</li>
    {% endfor -%}
    </ul>
  <h4>Output</h4>
  <p>{{ item.output }}</p>
</div>
{% endfor -%}

<hr \>

<h2>Ops</h2>
{%- for item in builtindata.ops %}
<div class="pane">
  <h3>{{ item.name }}</h3>
  <p>Left: {{ item.left }}</p>
  <p>Right: {{ item.right }}</p>
  <p>Output: {{ item.output }}</p>
</div>
{% endfor -%}

<hr \>

<h2>Busses</h2>
{%- for item in builtindata.busses %}
<div class="pane">
  <h3>{{ item.name }}</h3>
  <p>Type: {{ item.type }}</p>
  <p>Channels: {{ item.channels }}</p>
  <p>Direction: {{ item.direction }}</p>
</div>
{% endfor -%}
