* {
  box-sizing: border-box;
}

body {
  font: 12px/22px verdana, arial, sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

header {
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: #dddddd;
  z-index: 6;
}

header ul#nav {
  display: block;
  position: relative;
}
#nav li {
  display: block;
  list-style: none;
  float: left;
}

#nav li a,
#nav li span {
  display: block;
  padding: 4px 15px;
  text-decoration: none;
  text-align: center;
}

.CodeMirror {
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: calc(100% - 30px);
  background: transparent;
}

canvas#canvas {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: -2;
  width: 100%;
  height: calc(100% - 30px);
}
